*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2,
        #6a11cb,
        #2575fc
    );
    background-size:300% 300%;
    animation:bgMove 10s infinite alternate;
}

@keyframes bgMove{
    from{background-position:left;}
    to{background-position:right;}
}

.card{
    width:420px;
    padding:35px;
    border-radius:25px;
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,0.12);
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 15px 40px rgba(0,0,0,.25);
    color:white;
}

h1{
    text-align:center;
    margin-bottom:25px;
    font-size:2rem;
}

input{
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    border-radius:12px;
    font-size:18px;
}

.select-group{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:20px 0;
}

.select-group span{
    font-size:28px;
    font-weight:bold;
}

select{
    width:42%;
    padding:12px;
    border:none;
    border-radius:12px;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    background:white;
    color:#2575fc;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(255,255,255,.3);
}

.result-box{
    margin-top:25px;
    text-align:center;
    padding:20px;
    border-radius:15px;
    background:rgba(255,255,255,0.15);
}

#result{
    font-size:1.4rem;
}